<footer class="footer">
	<span class="footer__copyright">&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. All rights reserved.</span>
	Total <span id="busuanzi_value_page_pv"><i class="fa fa-spinner fa-spin"></i></span> Hits
 </footer>

<!-- scripts -->
<script src="{{ site.baseurl }}/js/particles.js"></script>
<script src="{{ site.baseurl }}/js/sweet-scroll.min.js"></script>

<script type="text/javascript" src="{{ site.baseurl }}/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/main.js?{{site.time | date: '%s%N'}}"></script>